{% extends "service/base.html" %}
{% block site_title %}Log In{% endblock %}
{% block page_title %}Log In{% endblock %}

{% block content %}
    <div class="aligned" style="width: 370px;">
        {{ form.non_field_errors  }}
        <form action="." method="post">{% csrf_token %}
            <div class="form-row">
                {{ form.username.errors }}{{ form.username.label_tag }}{{ form.username }}
            </div>
            <div class="form-row">
                {{ form.password.errors }}{{ form.password.label_tag }}{{ form.password }}
            </div>

            <div class="submit-row">
                <input type="submit" value="login" /> or <a href="{% url registration %}">Join</a>
                <input type="hidden" name="next" value="{{ next }}" />
            </div>
        </form>
    </div>
{% endblock %}