{% extends "service/base.html" %}

{% block content %}

    {% for error in form.non_field_errors %}{{ error }}{% endfor %}
    <form method="POST" action=".">{% csrf_token %}
        <dl>
            <dt>{{ form.username.label_tag }}</dt>
            <dd>{{ form.username }} {% for error in form.username.errors %}{{ error }}{% endfor %}</dd>
            <dt>{{ form.password.label_tag }} </dt>
            <dd>{{ form.password }} {% for error in form.password.errors %}{{ error }}{% endfor %}</dd>
        </dl>
        <input type="submit" value="login" /> or <a href="{% url registration %}">Join</a>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
{% endblock %}